/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 40px;
  color: black;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
  display: block;
  width: 100%;
  height: 100%;
}
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
/*--------------------------------------------------------------------------*/

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #fff;
}
[class*="__container"]{
  max-width: 90vw;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

/* HEADER */
/* --------------------------------- */
.header {
  font-size: 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: white;
}
.header__container {
  display: flex;
  height: 10vh;
  align-items: center;
}
.header__logo {
  width: 100px;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  z-index: 5;
  display: flex;
  justify-content: flex-end;
}


.menu {
  display: flex;
  justify-content: center;
}
.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__item {
}

.menu__link {
  color: black;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 0.9vw;
}
.menu__link:hover{
  color: rgb(255 0 102);
}
.menu__body{
  width: 80%;
}
@media (max-width:767.98px) {
  .menu__body{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    padding: 80px 15px;
    transition: left 0.3s ease 0s;
  }
  .menu__body._active{
    left: 0;
  }
  .menu__list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__link{
    color: white;
    font-size: 20px;
  }
  .menu__item{
    margin: 0 0 15px 0px;
  }

}


.button {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 7px 30px;
  background-color: #FF0066;
  border-radius: 20px;
  letter-spacing: 0.25em;
  transition: all 0.3s ease 0s;
}
.button:hover{
  background-color: #b9034c;
}

/* --------------------------------- */
.icon-menu{
  display: none;
}
@media (max-width:767.98px) {
  .icon-menu{
    display: flex;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  .icon-menu::before,
  .icon-menu::after{
    position: relative;
    content: '';
    background-color: black;
    height: 2px;
  }
  .icon-menu span{
    background-color: black;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .icon-menu._active::before{
    transform: rotate(45deg);
    top: 7px;
  }
  .icon-menu._active::after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .icon-menu._active span{
    transform: scale(0);
  }
}

/* --------------------------------- */
.main{
  margin-top: 10vh;
}


.fullscreen{
  /* background: url('./media/123.webp'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.fullscreen_black{
  background: black;
  display: flex;
  align-items: end;
}
.fullscreen__title{
  color: white;
  width: 80%;
  height: 50%;
  padding-bottom: 60px;
}

.text_white{
  color: white;
}
.text_black{
  color: black;
}

.text-big{
  font-size: 2em;
}
.text-center{
  text-align: center;
}
.text-title{
  width: 30%;
}
.content-center{
  display: flex;
  align-items: center;
  justify-content: center;
}